@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/* font-family: 'Noto Sans CJK KR', sans-serif; */

html{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header > img{
    width: 170px;
    margin:2rem;
    margin-right: 0;
}
.header > .title{
    font-size: 1rem;
    margin:2rem;
    margin-right: calc(2rem + 15px);
    padding-bottom: .5rem;
    text-align: right;
    font-weight: bold;
    color: #4d4d4d;
    font-family: 'Noto Sans CJK KR', sans-serif; 
}
.section{
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    padding: 0 
}
.section1{
    display: flex;
    flex-direction: column;
}
.section1--contents{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3em;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

.hitcount{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
}
.section1--contents p{
    font-weight: 600;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-size: 1em;
}
.section1--contents p:nth-child(4){
    padding-bottom: 1em;
}
.section1--contents p:nth-child(6){
    padding-bottom: 1em;
}
.section1--footer{
    width: 100%;
    position: absolute;
    top: 75vh;
    display:flex;
    justify-content: space-between;
    padding-top:0;
    font-size: .7em;
    padding:0 3rem;
}
.section1--footer p {
    padding-bottom:.5rem;
    font-family: 'Montserrat', sans-serif;
}
.section1--footer a {
    color:#4d4d4d;
}
.section1--footer > .sns > p {
    text-align: right;
}
.mobile{
    display: flex;
}
.pc {
    display: none;
} 

@media (min-width: 1024px){
    .header-wrap{
        display: flex;
        justify-content: center;
    }
    .header{
        width: 100vw;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .header > img{
        width: 370px;
        margin:3rem;
    }
    .header > .title{
        font-size: 2rem;
        margin:3rem;
    }
    .section{
        height: 100vh;
        background-image: url(../img/background.jpg);
        background-size: cover;
        padding: 0 
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .section1--contents > div{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 8em;
        width: 86%;
        max-width: 960px;
        animation: fadein 4s;
        -moz-animation: fadein 4s; /* Firefox */
        -webkit-animation: fadein 4s; /* Safari and Chrome */
        -o-animation: fadein 4s; /* Opera */
    }
    .hitcount{
        display: flex;
        justify-content: flex-start;
    }
    .section1--contents p{
        font-weight: 600;
        font-family: 'Noto Sans CJK KR', sans-serif;
        font-size: 1.3em;
    }
    .section1--contents .hitcount p{
        font-size: 1.7em;
    }
    .section1--footer{
        align-items: flex-end;
        font-size: 1em;
    }
    .section1--footer p {
        padding-bottom:.5rem;
        font-family: 'Montserrat', sans-serif;
    }
    .section1--footer a {
        color:#4d4d4d;
    }
    .credit{
        display: flex;
        justify-content: space-between;
        width: 43%;
    }
    
   .footer-wrap{
        display: flex;
        justify-content: center;
        align-items: flex-end;
   }
   .mobile{
       display: none;
   }
    .pc {
        display: flex;
        padding:3rem;
    }
    .black-arrow{
        font-size: 1.2rem;
    }

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
