{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEXT YELLOW</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/nextyellow.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <div class="container header">
        <img class="logo" src="{% static 'img/nextyellow.png' %}">
        <h1 class="title">
          여섯 번째 봄
        </h1>
    </div>
    <section class="section section1">
        <div class="container section1--contents">
            <div class="hitcount">
                <p>000번 째 와준 당신에게,</p>
                <br>
                <br>
            </div>
            <div>
                <p>넥스트 옐로우 (next yellow) 켐페인은</p>
                <p>슬품이 묻어있는 노랑을</p>
                <p>희망과 긍정의 움직임으로 바꿔보자는</p>
                <p>참여 캠페인입니다.</p>
                <br>

                <p>노랑에 어울리는</p>
                <p>긍정의 말을 선택해주세요.</p>
                <br>

                <p>더 많은 말이 모일수록</p>
                <p>노랑은</p>
                <p>슬픔 넘어</p>
                <p>긍정의 상징이 됩니다.</p>
            </div>
            <!-- <div class="section1--footer mobile">
                <div class="credit">
                    <p>4.16세월호참사가족협의회</p>
                    <p>4.16안산시민연대</p>
                    <p>4.16재단</p>
                </div>
                <div class="sns">
                    <p>FACEBOOK</p>
                    <p>INSTAGRAM</p>
                    <p>KAKAOTALK</p>
                    <br>
                    <br>
                    <p>Jellyjang with tnk&mke</p>
                </div>
                
            </div> -->
        </div>
        <div class="container section1--footer">
            <div class="credit">
                <p><a href="http://416family.org/">4.16세월호참사가족협의회</a></p>
                <p><a href="http://416ansan.com/">4.16안산시민연대</a></p>
                <p><a href="https://416foundation.org/">4.16재단</a></p>
            </div>
            <div class="sns">
                <p><a href="https://www.facebook.com/nextyellow0416/">FACEBOOK</a></p>
                <p><a href="https://www.instagram.com/nextyellow/">INSTAGRAM</a></p>
                <p><a href="http://pf.kakao.com/_pxcPxfxb">KAKAOTALK</a></p>
                <br>
                <p>Jellyjang with tnk&mke</p>
            </div>
            
        </div>
  </section>
  </body>
</html>