{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEXT YELLOW</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/nextyellow.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
    <div class="header-wrap">
        <div class="container header">
            <img class="logo" src="{% static 'img/nextyellow.png' %}">
            <h1 class="title">
            여섯 번째 봄
            </h1>
        </div>
    </div>
    <section class="section section1">

        <div class="section1--contents">
                <div>
                    <div class="hitcount">
                        <p>{{ hitcount }}번 째 와준 당신에게,</p>
                    </div>
                    <div>
                        <p>넥스트 옐로우 (next yellow) 캠페인은</p>
                        <p>슬픔이 묻어있는 노랑을</p>
                        <p>희망과 긍정의 움직임으로 바꿔보자는</p>
                        <p>참여 캠페인입니다.</p>

                        <p>노랑에 어울리는</p>
                        <p>긍정의 말을 선택해주세요.</p>

                        <p>더 많은 말이 모일수록</p>
                        <p>노랑은</p>
                        <p>슬픔 넘어</p>
                        <p>긍정의 상징이 됩니다.</p>
                    </div>
                </div>

        </div>
 
        <div class="footer-wrap">
        <div class="container section1--footer">
            <div class="credit">
                <p><a href="http://416family.org/">4.16세월호참사가족협의회</a></p>
                <p><a href="http://416ansan.com/">4.16안산시민연대</a></p>
                <p><a href="https://416foundation.org/">4.16재단</a></p>
            </div>
            <div class="sns">
                <p><a href="https://www.facebook.com/nextyellow0416/">FACEBOOK</a></p>
                <p><a href="https://www.instagram.com/nextyellow/">INSTAGRAM</a></p>
                <p><a href="http://pf.kakao.com/_pxcPxfxb">KAKAOTALK</a></p>
                <br>
                <p>Jellyjang with tnk&mke</p>
            </div>
        </div>
        </div>
        <a class="pc black-arrow" href="#section2"><i class="fas fa-sort-down"></i></a>
  </section>
  <section id="section2" class="section section2">

    <div class="section2--contents">
        <div>
            <div>
                <div class="big-font">
                    <p>슬픔 넘어</p>
                </div>
                <div>
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                          <button @click="toggle_flag = !toggle_flag" class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span>YELLOW ME</span>
                            <span class="icon is-small">
                              <i class="fas fa-sort-down" aria-hidden="true"></i>
                            </span>
                          </button>
                          <!-- <button @click="toggle_flag = !toggle_flag" class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                            <span>YELLOW ME</span>
                            <span class="icon is-small">
                              <i class="fas fa-sort-down" aria-hidden="true"></i>
                            </span>
                          </button> -->
                        </div>
                        <div v-if="toggle_flag" class="dropdown-menu" id="dropdown-menu3" role="menu">
                          <div class="dropdown-content">
                            <div class="dropdown-item">
                              강한💪🏼
                            </div>
                            <div class="dropdown-item">
                              반짝거리는✨
                            </div>
                            <div class="dropdown-item">
                              따스한🔥
                            </div>
                            <div class="dropdown-item">
                              희망적인🤩
                            </div>
                            <div class="dropdown-item">
                              싱그러운🌱
                            </div>
                            <div class="dropdown-item">
                              빛나는⭐
                            </div>
                            <div class="dropdown-item">
                              든든한🏋🏻
                            </div>
                            <div class="dropdown-item">
                              햇살같은🌞
                            </div>
                            <div class="dropdown-item">
                              내일의💫
                            </div>
                            <div class="dropdown-item">
                              담담한🌝
                            </div>
                            <div class="dropdown-item">
                              행복한😀
                            </div>
                            <div class="dropdown-item">
                              편한😌
                            </div>
                            <div class="dropdown-item">
                              아름다운🥰
                            </div>
                            <div class="dropdown-item">
                              새로운🐣
                            </div>
                            <div class="dropdown-item">
                              예쁜🌼
                            </div>
                            <div class="dropdown-item">
                              다정한🤗
                            </div>
                            <div class="dropdown-item">
                              한결같은🌳
                            </div>
                            <div class="dropdown-item">
                              고마운🙏🏼
                            </div>
                            <div class="dropdown-item">
                              색다른💐
                            </div>
                            <div class="dropdown-item">
                              옳은👍
                            </div>
                            <div class="dropdown-item">
                              이로운🌾
                            </div>
                            <div class="dropdown-item">
                              모두의🤝
                            </div>
                            <div class="dropdown-item">
                              애틋한🙋🏻‍♀
                            </div>
                            <div class="dropdown-item">
                              친근한🙌🏼
                            </div>
                            <div class="dropdown-item">
                              활기찬🏃
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="big-font">
                    <p>노랑</p>
                </div>
            </div>
            <div class="select-helper">
                <p>당신은 슬픔 넘어 어떤 노랑을 바라는지 궁금합니다.</p>
                <p>빈 칸에 당신이 바라는 긍정의 노랑을 골라주세요</p>
                <p>슬픔 넘어 당신이 바라는 긍정의 노랑 한 문장이 완성됩니다.</p>
                <p>당신의 문장을 캡쳐하여 곳곳에 공유해주세요.</p>
                <br>
                <br>
                <p>#nextyellow @nextyellow</p>
            </div>
        </div>
        <a class="pc black-arrow" href="#section3">&#x25BC;</a>
</section>
<section id="section3" class="section section3">
  <div id="instagram">

  </div>
  
</section>
</div>
<!-- 
  <script>
    const wrapper = document.getElementById("instagram");
    fetch("https://www.instagram.com/nextyellow/")
    .then(a => {
        return a.text();
    }).then(a => {
        const media = JSON.parse(a.slice(a.indexOf("edge_owner_to_timeline_media") + 30, a.indexOf("edge_saved_media") - 2));
        media.edges.forEach(m => {
            const node = m.node,
                a = document.createElement("div"),
                img = document.createElement("img");
            
            // a.target="_blank",
            // a.href = `https://www.instagram.com/p/${node.shortcode}/`,
            img.src = node.display_url,
            a.append(img),
            wrapper.append(a)
        })
})
  </script> -->
<script>
    var vm =new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data() {
        return {
            toggle_flag : false,
            }
    },
    methods:{
    }
})
</script>  
</body>
</html>