{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NEXT YELLOW</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/nextyellow.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/fullpage.js/dist/fullpage.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-fullpage.js/dist/vue-fullpage.min.js"></script>
    <script src="https://ssense.github.io/vue-carousel/js/vue-carousel.min.js"></script>
  </head>
  <body>
    <div id="app">
        <div class="header-wrap">
            <div class="container header">
                <img @click="uptofirst" class="logo" src="{% static 'img/nextyellow.png' %}">
                <h1 class="title">
                여섯 번째 봄
                </h1>
            </div>
        </div>
    <full-page :options="options" id="fullpage" ref="fullpage">

    
    <section class="section section1">
        <div class="section1--contents">
                <div>
                    <div class="hitcount">
                        <p>{{ hitcount }}번 째 와준 당신에게,</p>
                    </div>
                    <div>
                        <p>넥스트 옐로우 (next yellow) 캠페인은</p>
                        <p>슬픔이 묻어있는 노랑을</p>
                        <p>희망과 긍정의 움직임으로 바꿔보자는</p>
                        <p>참여 캠페인입니다.</p>

                        <p>노랑에 어울리는</p>
                        <p>긍정의 말을 선택해주세요.</p>

                        <p>더 많은 말이 모일수록</p>
                        <p>노랑은</p>
                        <p>슬픔 넘어</p>
                        <p>긍정의 상징이 됩니다.</p>
                    </div>
                </div>

        </div>

    </section>
    <section id="section2" class="section section2" >

        <div class="section2--contents">
            <div>
                <div class="select-main-wrap">
                    <div class="big-font">
                        <p v-bind:class="toggle_flag == true ? 'opacityhalf' : ''" >슬픔 넘어</p>
                    </div>
                    <div>
                        <div class="dropdown" v-bind:class="message != '' ? 'selected-dropdown-desktop' : ''">
                            <div class="dropdown-trigger">
                            <button @click="toggle" class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                <span v-if="message == ''">YELLOW ME</span>
                                <span v-else class="selected">${ message }</span>
                                <span class="icon is-small">
                                <i class="fas fa-sort-down" aria-hidden="true"></i>
                                </span>
                            </button>
                            <span v-if="message != ''" @click="send" class="selected-btn">OK</span>
                            </div>
                            <div v-if="toggle_flag" class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content" v-bind:class="message != '' ? 'selected-dropdown' : ''">
                                <div v-bind:value="1" @click="click" class="dropdown-item">
                                강한💪🏼
                                </div>
                                <div v-bind:value="2" @click="click" class="dropdown-item">
                                반짝거리는✨
                                </div>
                                <div v-bind:value="3" @click="click" class="dropdown-item">
                                따스한🔥
                                </div>
                                <div v-bind:value="4" @click="click" class="dropdown-item">
                                희망적인🤩
                                </div>
                                <div v-bind:value="5" @click="click" class="dropdown-item">
                                싱그러운🌱
                                </div>
                                <div v-bind:value="6" @click="click" class="dropdown-item">
                                빛나는⭐
                                </div>
                                <div v-bind:value="7" @click="click" class="dropdown-item">
                                든든한🏋🏻
                                </div>
                                <div v-bind:value="8" @click="click" class="dropdown-item">
                                햇살같은🌞
                                </div>
                                <div v-bind:value="9" @click="click" class="dropdown-item">
                                내일의💫
                                </div>
                                <div v-bind:value="10" @click="click" class="dropdown-item">
                                담담한🌝
                                </div>
                                <div v-bind:value="11" @click="click" class="dropdown-item">
                                행복한😀
                                </div>
                                <div v-bind:value="12" @click="click" class="dropdown-item">
                                편한😌
                                </div>
                                <div v-bind:value="13" @click="click" class="dropdown-item">
                                아름다운🥰
                                </div>
                                <div v-bind:value="14" @click="click" class="dropdown-item">
                                새로운🐣
                                </div>
                                <div v-bind:value="15" @click="click" class="dropdown-item">
                                예쁜🌼
                                </div>
                                <div v-bind:value="16" @click="click" class="dropdown-item">
                                다정한🤗
                                </div>
                                <div v-bind:value="17" @click="click" class="dropdown-item">
                                한결같은🌳
                                </div>
                                <div v-bind:value="18" @click="click" class="dropdown-item">
                                고마운🙏🏼
                                </div>
                                <div v-bind:value="19" @click="click" class="dropdown-item">
                                색다른💐
                                </div>
                                <div v-bind:value="20" @click="click" class="dropdown-item">
                                옳은👍
                                </div>
                                <div v-bind:value="21" @click="click" class="dropdown-item">
                                이로운🌾
                                </div>
                                <div v-bind:value="22" @click="click" class="dropdown-item">
                                모두의🤝
                                </div>
                                <div v-bind:value="23" @click="click" class="dropdown-item">
                                애틋한🙋🏻‍♀
                                </div>
                                <div v-bind:value="24" @click="click" class="dropdown-item">
                                친근한🙌🏼
                                </div>
                                <div v-bind:value="25" @click="click" class="dropdown-item">
                                활기찬🏃
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="big-font" v-bind:class="message != '' ? 'selected-big-font' : ''">
                        <p v-bind:class="toggle_flag == true ? 'opacityhalf' : ''" >노랑</p>
                    </div>
                </div>
                <div v-show="index == 1"  class="select-helper-wrap">
                <div class="select-helper">
                    <p>당신은 슬픔 넘어 어떤 노랑을 바라는지 궁금합니다.</p>
                    <p>빈 칸에 당신이 바라는 긍정의 노랑을 골라주세요</p>
                    <p>슬픔 넘어 당신이 바라는 긍정의 노랑 한 문장이 완성됩니다.</p>
                    <p>당신의 문장을 캡쳐하여 곳곳에 공유해주세요.</p>
                    <p>#nextyellow @nextyellow</p>
                </div>
                </div>
            </div>
    </section>
    <section id="section3" class="section section3">
        <div id="instagram">
            <div class="mobile-insta">
                <img v-for="(item,index) in media" v-bind:key="index" v-bind:src="item['node']['display_url']">
            </div>
            <carousel class="row carousel pc-insta" v-bind:per-page="4" :autoplay='true' :loop='true'>
                <slide>
                    <img v-bind:src="media['0']['node']['display_url']">
                    <img v-bind:src="media['1']['node']['display_url']">
                </slide>
                <slide>
                    <img v-bind:src="media['2']['node']['display_url']">
                    <img v-bind:src="media['3']['node']['display_url']">
                </slide>
                <slide>
                    <img v-bind:src="media['4']['node']['display_url']">
                    <img v-bind:src="media['5']['node']['display_url']">
                </slide>
                <slide>
                    <img v-bind:src="media['6']['node']['display_url']">
                    <img v-bind:src="media['7']['node']['display_url']">
                </slide>
                <slide>
                    <img v-bind:src="media['8']['node']['display_url']">
                    <img v-bind:src="media['9']['node']['display_url']">
                </slide>
                <slide>
                    <img v-bind:src="media['10']['node']['display_url']">
                    <img v-bind:src="media['11']['node']['display_url']">
                </slide>
            </carousel>
            <h4 v-show="index == 2"  class="insta-title">#nextyellow</h4>
            <div v-show="index == 2" class="insta-text">
                <p>일상의 모든 노랑 사진을 인스타그램에 태그하여 공유해주세요.</p>
                <p>봄이 지나도, 만나지 않고도 우리는 마음을 모을 수 있습니다.</p>
                <p>더 많은 노랑이 공유될수록</p>
                <p>노랑은 슬픔 넘어 긍정의 상징이 됩니다. </p>
            </div>
        </div>
    </section>
    </full-page>
    <div class="footer-wrap">
    <div class="container section1--footer">
        <div class="credit">
            <p><a target="_blank" href="http://416family.org/">4.16세월호참사가족협의회</a></p>
            <p><a target="_blank" href="http://416ansan.com/">4.16안산시민연대</a></p>
            <p><a target="_blank" href="https://416foundation.org/">4.16재단</a></p>
        </div>
        <p class="pc black-arrow" v-on:click="down"><i class="fas fa-sort-down"></i></p>
        <div class="sns">
            <p><a target="_blank" href="https://www.facebook.com/nextyellow0416/">FACEBOOK</a></p>
            <p><a target="_blank" href="https://www.instagram.com/nextyellow/">INSTAGRAM</a></p>
            <p><a target="_blank" href="http://pf.kakao.com/_pxcPxfxb">KAKAOTALK</a></p>
            <p>Jellyjang with tnk&mke</p>
        </div>
    </div>
    </div>


    <div v-if="imgtoggle" class="img-modal">
        <p class="mobile-text">이미지를 길게 누르시면 저장할 수 있습니다.</p>
        <p class="pc-text">이미지를 마우스 오른쪽 클릭으로 저장할 수 있습니다.</p>
            <img v-bind:src="'/static/img/모바일1_최종_' + imgindex +'.jpg'">
        <button @click="initial">Close</button>
    </div>
</div>

<script>
var vm =new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    components: {
  	'carousel': VueCarousel.Carousel,
    'slide': VueCarousel.Slide
    },
    data() {
        return {
            toggle_flag : false,
            options: {
                afterLoad: this.afterLoad,
                navigation: false,
                // scrollOverflow: true,
                normalScrollElements: '.dropdown-menu'
            },
            index : 0,
            message: '',
            imgindex: 0,
            imgtoggle: false,
            media: ''
            }
    },
    mounted(){
        this.instagram()
    },
    methods:{
        initial: function () {
            this.imgtoggle= false
            this.toggle_flag = false
            this.message = ''
            fullpage_api.setAllowScrolling(true)
        },
        toggle : function() {
            if (this.toggle_flag == false){
                fullpage_api.setAllowScrolling(false)
            }
            else{
                fullpage_api.setAllowScrolling(true)
            }
            this.toggle_flag = !this.toggle_flag
        },
        down :function() {
            fullpage_api.moveSectionDown()
        },
        uptofirst: function() {
            fullpage_api.moveTo(1)
        },
        afterLoad: function(origin, destination, direction){
            console.log("After load....");
            console.log("this",destination);
            this.index = destination.index
        },
        click: function(e){
            this.message = e.target.innerText
            this.imgindex = e.target.attributes.value.value
            this.toggle_flag = false
            fullpage_api.setAllowScrolling(true)
        },
        send: function() {
            let vm = this
            fetch(`/send/${this.message}/`)
            .then(res => {
                if (res.status == 200){
                    vm.imgtoggle = true
                }
            })
            fullpage_api.setAllowScrolling(false)
        },
        instagram: function(){
            fetch("https://www.instagram.com/nextyellow/")
            .then(a => {
                return a.text();
            }).then(a => {
                const media = JSON.parse(a.slice(a.indexOf("edge_owner_to_timeline_media") + 30, a.indexOf("edge_saved_media") - 2));
                console.log(media)
                this.media = media.edges
        })
        }
    }
})
</script> 
</body>
</html>